
html {
    /*background-color: rgb(0, 183,183);*/
    background-color: beige;
    font-family: monospace;
    color: rgb(83, 62, 62);
}
header {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;

}

#host-me-wrapper {
height: 100%;
background-color: yellow;
width:50%;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
margin-top:-10px;}


nav {
    height:100%;
    background-color: red;
    width: 50%;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    margin-top: -10px;
}

ul {
    background-color: violet;
    height: 20px;
    list-style-type: none;
    text-align: right;
    position: relative;
    top: 40%;
    display: flex;
    justify-content: right;
    overflow: hidden;
}
li {
    margin-right:25px;
    background-position: 100%;

}

 a {
    text-decoration: none;
    color: white;    
 }



#home-title-wrapper {
    padding-top: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#inizia {
    margin-top: 50px;
    width:100px;
    height: 30px;
    color: red;
    border-radius:0px;
    border:none;
    cursor: pointer;
}


#social-buttons {
    display: flex;
    justify-content: left;
    padding-top: 200px;
    width: 10%;

}
#chi-siamo {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20%;
}
#chi-siamo-title {
    display: flex;
    justify-content: center;
    background-color: green;

}

#para-chi-siamo {

width: 100%;
display: flex;
padding-top: 100px;
font-size: 20px;
text-align: justify;
}

#house-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#servizi-container {
    padding: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#servizi-container p {
    font-size: 20px;
    text-align: justify;
    margin-top: -7px;
}

#perche-noi-container {
    display: flex;
    flex-direction: column;
    text-align: center;}

#graphic-image-container {
    margin-top: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}

#graphic-image-container img:not(:hover) {
    
    transition:  0.9s ease-in-out;
}

/*#graphic-image-container img:hover {
    
    width: 700px;
    height: 500px;
    transition:  0.9s ease-in-out;
}*/

img {
border-radius: 20px;
border-style:groove;
border-color: rgb(200, 184, 184);
width: 600px; 
height: 400px;


}

.get-bigger {
    width: 500px;
    border-radius: 0px;
    transition: 0.9s ease-in-out;
}

.active {
    width: 600px;
    height: 450px;
    transition: 0.9s ease-in-out;
}

.get-bigger-1 {
    width: 320px;
    height: 400px;
    border-radius: 0px;
    transition: 0.9s ease-in-out;

}

.active-1 {
    width: 400px;
    height: 500px;
    transition: 0.9s ease-in-out;

}

#flats-photographs-container {
    margin-bottom: 150px;
}

#flats-photographs-container div {
    
    display: flex;
    justify-content: center;
    margin: 30px;
}

#collaboriamo-con {
    display: flex;
    justify-content: center;
   
}

#logo-container {
    display: flex;
    flex-direction: row;
    justify-content:  center;
    background-color: white;
    margin-top: 80px;
}

#logo-container img {
   
    width: 130px;
    height: 50px;
    border: none;
    margin: 15px;
}

#tariffa {
    width: 100%;
    height: 1200px;
    background-color: cyan;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*#flats-photographs-container img:hover {
    width:50%;
    height: 40%;
    transition: 0.9s ease-in-out;
    margin:0;
    opacity: 1;
}
#flats-photographs-container img:not(:hover) {
    transition: 0.9s ease-in-out;
}


#img1 {
    display: flex;
    justify-content: center;
}

#img1 img {
    width: 500px;
}

#img1 img:hover {
    width: 600px;
}

#img2 {
    display: flex;
    justify-content: center;
}

#img2 img {
    width: 500px;
}

#img2 img:hover {
    width: 600px;
}

#img3 {
    display: flex;
    justify-content: center;
}

#img3 img {
    width: 500px;
}

#img3 img:hover {
    width: 600px;
}

#img4 {
    display: flex;
    justify-content: center;
}

#img4 img {
    width: 500px;
}

#img4 img:hover {
    width: 600px;
}

#img5 {
    display: flex;
    justify-content: center;
}

#img5 img {
    width: 500px;
}

#img5 img:hover {
    width: 600px;
}


#img6 {
    display: flex;
    justify-content: center;
}

#img6 img {
    width: 500px;
}

#img6 img:hover {
    width: 600px;
}


#img7 {
    display: flex;
    justify-content: center;
}

#img7 img {
    width: 500px;
}

#img7 img:hover {
    width: 600px;
}


#img8 {
    display: flex;
    justify-content: center;
}

#img8 img {
    width: 320px;
    height: 400px;
}

#img8 img:hover {
    width: 420px;
    height: 520px;
}

#img9 {
    display: flex;
    justify-content: center;
}

#img9 img {
    width: 300px;
    height: 450px;
}

#img9 img:hover {
    width: 400px;
    height: 550px;
}

#img10 {
    display: flex;
    justify-content: center;
}

#img10 img {
    width: 600px;

}

#img10 img:hover {
    width: 700px;
}

#img11 {
    display: flex;
    justify-content: center;
}
#img11 img {
    width: 300px;
    height: 450px;
}

#img11 img:hover {
    width: 420px;
    height: 600px;
}


/*You have to fix your site fot mobile phones*/









@media only screen and (max-width: 200px) {
    #flats-photographs-container {
        width:100%;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    #flats-photographs-container div {
        display: flex;
        justify-content: center;
    }

    #flats-photographs-container img:hover {
        width:95%;
        transition: 0.9s ease-in-out;
        margin:0;
        opacity: 1;
    }
    
  }

